<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="http://vectorlogo4u.com/wp-content/uploads/2016/05/shopify-vector-720x340.png" alt="Store">
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to the "<%= @giveaway.name %>" giveaway!</h1>
    </div>
  </div>
</div>

<div class="w-100 mt-5 mb-5">
  <div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div><div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div><div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center mb-5">
    <div class="col-10 offset-1">
      <p>This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-10 offset-1 text-center">
      <h2>Now get ready to win awesome stuff</h2>
    </div>
  </div>

  <div class="row pb-5">
    <div class="col-10 offset-1">
<%= form_for :user, url: enter_giveaway_path do |f| %>
        <div class="form-group row">
          <div class="input-groupish col-12">
            <%= f.label :name %><br>
            <%= f.text_field :name, :class=>"col-12 form-control", :placeholder=>"Name"%>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email %><br>
          <%= f.email_field :email, :class=>"col-12 form-control", :placeholder=>"Email address"%>
        </div>

        <%= f.submit :class=>"btn btn-md btn-success"%>
<% end %>
    </div>
  </div>
</div>
