<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500">
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>

    <% if content_for?(:css) %>
      <%= yield :css %>
    <% end %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: true
      });
    </script>

    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= javascript_include_tag controller_name + "/" + action_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}/#{action_name}.js") %>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
  </body>
</html>
